<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.iot_project">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/myproject_launcher"
        android:label="購物商城"
        android:roundIcon="@mipmap/myproject_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.IOT_project"
        tools:ignore="Instantiatable"
        tools:targetApi="31">
        <activity
            android:name=".SelectImageActivity"
            android:exported="false" />
        <activity
            android:name=".Main.LogoutActivity"
            android:exported="false"
            android:label="@string/title_activity_logout"
            android:theme="@style/Theme.IOT_project.NoActionBar" />
        <activity
            android:name=".NewProduct.ShippingFeeActivity"
            android:exported="false" />
        <activity
            android:name=".NewProduct.SetPriceActivity"
            android:exported="false" />
        <activity
            android:name=".NewProduct.NewProductClassificationActivity"
            android:exported="false" />
        <activity
            android:name=".NewProduct.ProductDescribeActivity"
            android:exported="false" />
        <activity
            android:name=".shoppingCart.ShoppingCartActivity"
            android:exported="false" />
        <activity
            android:name=".SellerRegister.ChooseBankAreaActivity"
            android:exported="false" />
        <activity
            android:name=".SellerRegister.ChooseBankBranchActivity"
            android:exported="false" />
        <activity
            android:name=".SellerRegister.ChooseBankNameActivity"
            android:exported="false" />
        <activity
            android:name=".SellerRegister.ChooseSellerAreaActivity"
            android:exported="false" />
        <activity
            android:name=".SellerRegister.ChooseSellerCountyActivity"
            android:exported="false" />
        <activity
            android:name=".SellerRegister.ChooseCitizenActivity"
            android:exported="false" />
        <activity
            android:name=".NewProduct.NewProductActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".OrderReturn" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".OrderInvaildFragment" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".OrderToBeShipFragment" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".member.MemberActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SalesRecordActivity"
            android:exported="false" />
        <activity
            android:name=".sellerStore.SellerStoreActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".MyProduct.MyProductActivity"
            android:exported="false" />
        <activity
            android:name=".MyStoreActivity"
            android:exported="false" />
        <activity
            android:name=".SellerRegister.BankAccountActivity"
            android:exported="false" />
        <activity
            android:name=".SellerRegister.SellerDetailActivity"
            android:exported="false" />
        <activity
            android:name=".SellerRegister.BecomeSellerActivity"
            android:exported="false" />
        <activity
            android:name=".Main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>